
#pagetwo, #pageone {
  margin: auto;
  background-color: green;
  text-align: center;
}

.container {
	text-align: center;
	margin: 80px;
}

.fila_tabla {
  display: table-row;
}
.item {
  display: table-cell;
}
.item button {
   display: table-row;
}