
#pagetwo, #pageone {
  margin: auto;
  background-color: #63F0CD;
  text-align: center;
}

#marco {
	background-color: #333;
	color: #F9F9F9;
}

.container {
	text-align: center;
	margin: 80px;
}

.fila_tabla {
  display: table-row;
}
.item {
  display: table-cell;
}
.item button {
   display: table-row;
}